:root {
    --green: #c2ff15;
    --red: #ff29ad;
    --blue: #1f6bff;
    --scoreDetailLeftRight: 70px;
}

body { margin: 0; }
.main {
    position: relative;
    margin: 0;
    width: 3840px;
    height: 2160px;
    background-image: url("static/background.png");
    font-family: "Reddit Mono";
    font-weight: 800;
    overflow: hidden;
}

/* Team colour */
.team-colour-section {
    width: 3559px;
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    margin: auto;
}
.team-colour {
    font-size: 2rem;
    line-height: 42px;
    color: var(--green);
}

/* Team Name Highlight */
/* Max width is 671px; */
.team-name-highlight-section {
    width: 3618px;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    margin: auto;
}
.team-name-highlight {
    width: 100px;
    height: 47px;
    border-radius: 1.5em;
}
#team-name-highlight-left { background-color: var(--red); }
#team-name-highlight-right { background-color: var(--blue); }

/* Team Name */
.team-name {
    position: absolute;
    font-size: 75px;
    line-height: 98px;
    color: white;
}
#team-name-left { top: 80px; left: 129px; }
#team-name-right { top: 80px; right: 129px;}

/* Stars */
.team-stars-section {
    display: flex;
    justify-content: space-between;
    width: 3606px;
    margin: auto;
    margin-top: 44px;
}
.team-stars-container { display: flex; }
#team-stars-container-right { flex-direction: row-reverse; }
.team-star {
    width: 46px;
    height: 21px;
    border-radius: 11px;
    background-color: white;
    margin: 0 18px 0 18px
}
.team-star-fill { background-color: var(--green); }

/* Bean */
.bean {
    position: absolute;
    top: 100px;
    width: 338px;
    height: 56px;
    border-radius: 28px;
    background-color: white;
}
#bean-left { left: -273px; }
#bean-right { right: -273px; }


/* Logo */
.logo {
    position: absolute;
    top: 107px;
    right: 1974px;
    width: 312px;
}

/* Round Information */
.round-information-container {
    position: absolute;
    left: 1984px;
    top: 98px;
}
.round-name {
    font-size: 58px;
    line-height: 76px;
    color: white;
}
.round-information-bean {
    position: absolute; 
    top: 93px;
    width: 429px;
    height: 14px;
    border-radius: 7px;
    background-color: var(--green);
}

/* Score Text */
.score-text {
    position: absolute;
    top: 1865px;
    font-size: 46px;
    line-height: 61px;
    color: white;
}
#score-text-left { left: var(--scoreDetailLeftRight); }
#score-text-right { right: var(--scoreDetailLeftRight); }

/* Play Score */
.play-score {
    position: absolute;
    top: 1918px;
    font-size: var(--scoreDetailLeftRight);
    line-height: 98px;
    color: white;
}
#play-score-left { left: var(--scoreDetailLeftRight); }
#play-score-right { right: var(--scoreDetailLeftRight); }

/* Score Bar */
.score-bar {
    position: absolute;
    top: 2051px;
    width: 1400px;
    height: 34px;
    border-radius: 17px;
}
.score-bar-container { background-color: white; }
.score-bar-fill { background-color: var(--green); }
.score-bar-left { left: var(--scoreDetailLeftRight); }
.score-bar-right { right: var(--scoreDetailLeftRight); }

/* Now Playing Stats Container */
.now-playing-stats-container {
    position: absolute;
    top: 1806px;
    right: 2370px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    text-align: right;
}
/* Now Playing Stats */
.now-playing-stats { margin-left: 60px; }
.now-playing-stats-bottom { margin-top: -7px; }
/* Now Playing Text */
.now-playing-stats-text {
    font-size: 3rem;
    line-height: 4rem;
}
.now-playing-stats-number {
    font-size: 75px;
    line-height: 99px;
    margin-left: 5px;
    font-variant-numeric: tabular-nums;
}
#now-playing-stats-text-bpm { margin-right: 15px; }

/* Now Playing Stats Underscore */
.now-playing-stats-underscores-container {
    position: absolute;
    top: 1870px;
    right: 2368px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
}
.now-playing-stats-underscore {
    width: 222px;
    height: 25px;
    border-radius: 12px;
    background-color: var(--red);
    margin: 0 0 67px 39px;
}
#now-playing-stats-underscore-bpm { width: 257px; }

/* Current Map */
.now-playing-map-background {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 668px;
    height: 372px;
    border-radius: 34px 34px 0 0;
    background-image: url("https://assets.ppy.sh/beatmaps/789103/covers/cover.jpg");
    background-size: cover;
    background-position: center;
}
.now-playing-current-map-text {
    position: absolute;
    top: 1770px;
    left: 1625px;
    background-color: var(--red);
    color: white;
    font-size: 31px;
    line-height: 42px;
    width: 248px;
    height: 42px;
    border-radius: 21px;
    text-align: center;
    transform: rotate(-3deg);
}

/* Now Playing Text Information */
.now-playing-song-title {
    position: absolute;
    top: 1810px;
    left: 2370px;
    font-size: 75px;
    line-height: 99px;
    color: white;
}
.now-playing-artist {
    position: absolute;
    top: 1902px;
    left: 2370px;
    font-size: 42px;
    line-height: 55px;
    color: white;
}
.now-playing-mapper-text {
    position: absolute;
    top: 1974px;
    left: 2370px;
    border-radius: 27px;
    background-color: var(--blue);
    color: white;
    width: 216px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}
.now-playing-mapper-circle {
    position: absolute;
    top: 1994px;
    left: 2630px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: white;
}
.now-playing-mapper-name {
    position: absolute; 
    top: 1974px;
    left: 2686px;
    font-size: 42px;
    line-height: 55px;
    color: white;
}