:root {
    --green: #c2ff15;
    --red: #ff29ad;
    --blue: #1f6bff;
}

body { margin: 0; }
.main {
    position: relative;
    margin: 0;
    width: 3840px;
    height: 2160px;
    background-image: url("static/background.png");
    font-family: "Reddit Mono";
    font-weight: 800;
}

/* Team colour */
.team-colour-section {
    width: 3559px;
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    margin: auto;
}
.team-colour {
    font-size: 2rem;
    line-height: 42px;
    color: var(--green);
}

/* Team Name Highlight */
/* Max width is 671px; */
.team-name-highlight-section {
    width: 3618px;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    margin: auto;
}
.team-name-highlight {
    width: 100px;
    height: 47px;
    border-radius: 1.5em;
}
#team-name-highlight-left { background-color: var(--red); }
#team-name-highlight-right { background-color: var(--blue); }

/* Team Name */
.team-name {
    position: absolute;
    font-size: 75px;
    line-height: 98px;
    color: white;
}
#team-name-left { top: 80px; left: 129px; }
#team-name-right { top: 80px; right: 129px;}