.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 2560px;
    height: 1440px;
    background-image: url("static/background.png");
    font-family: "Reddit Mono";
    font-weight: 700;
}

/* Players Container */
.players-container {
    position: absolute;
    top: 430px;
    left: 255px;
    width: 492px;
    height: 667px;
    transform: scale(1.37, 1.37) rotate(-6.47deg);
}

/* Players Container Background */
.player-container-background {
    width: 492px;
    height: 667px;
}

/* Player Text Containers */
.player-text-container > * {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
/* Invisible (on either side) */
.invisible-player { 
    font-size: 0.25rem;
    color: rgba(0,0,0,0);
    width: 24px;
}
.player-0 { top: 40px; }
.player-8 { top: 581px; }
/* Very Side Player (on either side) */
.very-side-player {
    font-size: 0.75rem;
    color: rgba(0,0,0,0.15);
    width: 70px;
}
.player-1 { top: 66px; }
.player-7 { top: 551px; }
/* Somewhat Side Player (on either side) */
.somewhat-side-player {
    font-size: 1.5rem;
    color: rgba(0,0,0,0.35);
    width: 140px;
}
.player-2 { top: 107px; }
.player-6 { top: 502px; }
/* Somewhat Middle Player (on either side) */
.somewhat-middle-player {
    font-size: 2.5rem;
    color: rgba(0,0,0,0.55);
    width: 237px;
}
.player-3 { top: 175px; }
.player-5 { top: 417px; }
/* Middle Player */
.player-4 {
    top: 284px;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.75);
    width: 372px;
}

/* Bounty Image*/
.bounty-title {
    position: absolute;
    top: 155px;
    left: 641px;
    width: 260px;
    transform: rotate(12.32deg);
}

/* osu! background */
.osu-background {
    position: absolute;
    left: 1101.72px;
    top: -94px;
    transform: rotate(4.83deg);
    width: 2676px;
    /* filter: blur(81.5px); */   
}

/* Profile Containers */
.profile-containers {
    position: absolute;
    left: 1817.995px;
    top: 415.75px;
    transform: translateX(-50%) rotate(5.22deg);
    display: flex;
    gap: 43px;
}

/* Individual Profile Picture */
.individual-profile-picture-container {
    width: 544px;
    text-align: center;
}
.individual-profile-picture {
    border-radius: 50%;
    width: 439px;
    margin-bottom: 50px;
}

/* Individual Name */
.individual-name {
    width: 544px;
    height: 107px;
    background-color: #00FFE0;
    border-radius: 107px;
    color: #004038;
    line-height: 107px;
    text-align: center;
    font-size: 4rem;
    letter-spacing: -1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Top Background */
.top-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 2560px;
}
/* Bottom Background */
.bottom-background {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2560px;
}

/* Logo */
.top-left-logo {
    position: absolute;
    left: 107px;
    width: 277.33px;
}

/* Sidebar */
.sidebar {
    position: absolute;
    left: 2560px;
    top: 0;
    width: 500px;
    height: 1440px;
    background-color: #1E68F9;
}
.sidebar-title {
    font-family: "Reddit Mono";
    font-weight: 800;
    font-size: 2rem;
    color: white;
    text-align: center;
    width: 90%;
    margin: 0.5em 5%;
}
.sidebar-text {
    margin: 0 5%;
}
.sidebar-textarea {
    width: 80%;
    height: 200px;
    margin: 0.5em 10%;
    background-color: #4180ff;
    border: 4px solid white;
    font-family: "Reddit Mono";
    font-weight: 700;
    color: white;
    font-size: 2em;
}
.sidebar-button {
    width: 70%;
    height: 80px;
    font-size: 2rem;
    font-family: "Reddit Mono";
    font-weight: 800;
    background-color: transparent;
    color: white;
    border: 4px solid white;
    border-radius: 20px;
    margin: 0.5em 15%;
}