/* Background Video */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 2560px;
    height: 1440px;
    z-index: -1;
}

/* Whole Page */
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 2560px;
    height: 1440px;
    background-image: url("static/background.png");
    font-family: "Reddit Mono";
    font-weight: 700;
    overflow: hidden;
}

/* Players Container */
.players-container {
    position: absolute;
    top: 430px;
    left: 255px;
    width: 492px;
    height: 667px;
    transform: scale(1.37, 1.37) rotate(-6.47deg);
}

/* Players Container Background */
.player-container-background {
    width: 492px;
    height: 667px;
}

/* Player Text Containers */
.player-text-container > * {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
/* Invisible (on either side) */
.invisible-player { 
    font-size: 0.25rem;
    color: rgba(0,0,0,0);
    width: 24px;
}
.player-0 { top: 40px; }
.player-8 { top: 581px; }
/* Very Side Player (on either side) */
.very-side-player {
    font-size: 0.75rem;
    color: rgba(0,0,0,0.15);
    width: 70px;
}
.player-1 { top: 66px; }
.player-7 { top: 551px; }
/* Somewhat Side Player (on either side) */
.somewhat-side-player {
    font-size: 1.5rem;
    color: rgba(0,0,0,0.35);
    width: 140px;
}
.player-2 { top: 107px; }
.player-6 { top: 502px; }
/* Somewhat Middle Player (on either side) */
.somewhat-middle-player {
    font-size: 2.5rem;
    color: rgba(0,0,0,0.55);
    width: 237px;
}
.player-3 { top: 175px; }
.player-5 { top: 417px; }
/* Middle Player */
.player-4 {
    top: 284px;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.75);
    width: 372px;
}

/* From Player 0 to Player 1 */
.from-player-0-to-player-1 {
    animation-name: from-player-0-to-player-1;
    animation-duration: 1.5s;
    animation-fill-mode: forwards
}
@keyframes from-player-0-to-player-1 {
    from {
        top: 40px;
        font-size: 0.25rem;
        color: rgba(0,0,0,0);
        width: 24px;
    }
    to {
        top: 66px;
        font-size: 0.75rem;
        color: rgba(0,0,0,0.15);
        width: 70px;
    }
}
/* From Player 1 to Player 2 */
.from-player-1-to-player-2 {
    animation-name: from-player-1-to-player-2;
    animation-duration: 1.5s;
    animation-fill-mode: forwards
}
@keyframes from-player-1-to-player-2 {
    from {
        top: 66px;
        font-size: 0.75rem;
        color: rgba(0,0,0,0.15);
        width: 70px;
    }
    to {
        top: 107px;
        font-size: 1.5rem;
        color: rgba(0,0,0,0.35);
        width: 140px;
    }
}
/* From Player 2 to Player 3 */
.from-player-2-to-player-3 {
    animation-name: from-player-2-to-player-3;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes from-player-2-to-player-3 {
    from {
        top: 107px;
        font-size: 1.5rem;
        color: rgba(0,0,0,0.35);
        width: 140px;
    }
    to {
        top: 175px;
        font-size: 2.5rem;
        color: rgba(0,0,0,0.55);
        width: 237px;
    }
}

/* From Player 3 to Player 4 */
.from-player-3-to-player-4 {
    animation-name: from-player-3-to-player-4;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes from-player-3-to-player-4 {
    from {
        top: 175px;
        font-size: 2.5rem;
        color: rgba(0,0,0,0.55);
        width: 237px;
    }
    to {
        top: 284px;
        font-size: 4rem;
        color: rgba(0,0,0,0.75);
        width: 372px;
    }
}

/* From Player 4 to Player 5 */
.from-player-4-to-player-5 {
    animation-name: from-player-4-to-player-5;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes from-player-4-to-player-5 {
    from {
        top: 284px;
        font-size: 4rem;
        color: rgba(0,0,0,0.75);
        width: 372px;
    }
    to {
        top: 417px;
        font-size: 2.5rem;
        color: rgba(0,0,0,0.55);
        width: 237px;
    }
}

/* From Player 5 to Player 6 */
.from-player-5-to-player-6 {
    animation-name: from-player-5-to-player-6;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes from-player-5-to-player-6 {
    from {
        top: 417px;
        font-size: 2.5rem;
        color: rgba(0,0,0,0.55);
        width: 237px;
    }
    to {
        top: 502px;
        font-size: 1.5rem;
        color: rgba(0,0,0,0.35);
        width: 140px;
    }
}

/* From Player 6 to Player 7 */
.from-player-6-to-player-7 {
    animation-name: from-player-6-to-player-7;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes from-player-6-to-player-7 {
    from {
        top: 502px;
        font-size: 1.5rem;
        color: rgba(0,0,0,0.35);
        width: 140px;
    }
    to {
        top: 551px;
        font-size: 0.75rem;
        color: rgba(0,0,0,0.15);
        width: 70px;
    }
}

/* From Player 7 to Player 8 */
.from-player-7-to-player-8 {
    animation-name: from-player-7-to-player-8;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes from-player-7-to-player-8 {
    from {
        top: 551px;
        font-size: 0.75rem;
        color: rgba(0,0,0,0.15);
        width: 70px;
    }
    to {
        top: 581px;
        font-size: 0.25rem;
        color: rgba(0,0,0,0);
        width: 24px;
    }
}

/* From Player 8 to Player 0 */
.from-player-8-to-player-0 {
    animation-name: from-player-8-to-player-0;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes from-player-8-to-player-0 {
    from {
        top: 581px;
        font-size: 0.25rem;
        color: rgba(0,0,0,0);
        width: 24px;
    }
    to {
        top: 40px;
        font-size: 0.25rem;
        color: rgba(0,0,0,0);
        width: 24px;
    }
}


/* Bounty Image*/
.bounty-title {
    position: absolute;
    top: 155px;
    left: 641px;
    width: 260px;
    transform: rotate(12.32deg);
}

/* osu! background */
.osu-background {
    position: absolute;
    left: 1101.72px;
    top: -94px;
    transform: rotate(4.83deg);
    width: 2676px;
    filter: blur(81.5px);
    transition: 500ms ease;
    overflow: hidden;
}
.osu-background-video {
    position: relative;
    left: -50%;
    transform: translateX(25%);
    width: 2676px;
}

/* Profile Containers */
.profile-containers {
    position: absolute;
    left: 1817.995px;
    top: 415.75px;
    transform: translateX(-50%) rotate(5.22deg);
    display: flex;
    gap: 43px;
}

/* Individual Profile Container */
.individual-profile-container {
    display: none;
}

/* Individual Profile Picture */
.individual-profile-picture-container {
    width: 544px;
    text-align: center;
}
.individual-profile-picture {
    border-radius: 50%;
    width: 439px;
    margin-bottom: 50px;
}

/* Individual Name */
.individual-name {
    width: 544px;
    height: 107px;
    background-color: #00FFE0;
    border-radius: 107px;
    color: #004038;
    line-height: 107px;
    text-align: center;
    font-size: 4rem;
    letter-spacing: -1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Top Background */
.top-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 2560px;
}
/* Bottom Background */
.bottom-background {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2560px;
}

/* Logo */
.top-left-logo {
    position: absolute;
    left: 107px;
    width: 277.33px;
}

/* Sidebar */
.sidebar {
    position: absolute;
    left: 2560px;
    top: 0;
    width: 500px;
    height: 1440px;
    background-color: #1E68F9;
}
.sidebar-title {
    font-family: "Reddit Mono";
    font-weight: 800;
    font-size: 2rem;
    color: white;
    text-align: center;
    width: 90%;
    margin: 0.5em 5%;
}
.sidebar-text {
    margin: 0 5%;
}
.sidebar-textarea {
    width: 80%;
    height: 200px;
    margin: 0.5em 10%;
    background-color: #4180ff;
    border: 4px solid white;
    font-family: "Reddit Mono";
    font-weight: 700;
    color: white;
    font-size: 2em;
}
.sidebar-button {
    width: 70%;
    height: 80px;
    font-size: 2rem;
    font-family: "Reddit Mono";
    font-weight: 800;
    background-color: transparent;
    color: white;
    border: 4px solid white;
    border-radius: 20px;
    margin: 0.5em 15%;
    cursor: pointer;
}
.sidebar-button:active {
    background-color: white;
    color: #1E68F9;
}

/* Sidebar Player List */
#sidebar-player-list {
    height: 336px;
    overflow-y: scroll;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}