body { margin: 0; }
.main {
    margin: 0;
    width: 3840px;
    height: 2160px;
    background-image: url("static/background.png")
}

/* Chat */
.chat {
    position: absolute;
    top: 30px;
    margin-left: 48px;
    width: 1255px;
    height: 413px;
    border-radius: 0 0 68px 0;
    font-family: "Reddit Mono";
    font-weight: 800;
    font-size: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.chat::-webkit-scrollbar { display: none; }
.chatMessageContainer { display: flex; }
.messageUser { padding-right: 20px; }
.chatMessage { color: white; }