:root {
    --map-selection-title-height: 94px;
    --coloured-side-alignment: 68px;
    --team-banner-square-dimension: 346px;
    --side-background-border-radius: 50px;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 2560px;
    height: 1440px;
    background-image: url("static/background.png");
    font-family: "Reddit Mono";
    overflow: hidden;
}

/* Map Selection Title */
#map-selection-title {
    position: absolute;
    top: 37px;
    left: 50%;
    transform: translateX(-50%);
    width: 568px;
    height: var(--map-selection-title-height);
    border-radius: calc(var(--map-selection-title-height) / 2);
    background-color: #36FF86;
    font-weight: 700;
    font-size: 64px;
    line-height: var(--map-selection-title-height);
    color: black;
    text-align: center;
}

/* Sides */
.coloured-side {
    position: absolute;
    top: 277px;
    width: 476px;
    height: 1163px;
    overflow: hidden;
}
#left-side { left: var(--coloured-side-alignment); }
#right-side { right: var(--coloured-side-alignment); }

/* Side backgrounds */
.side-background {
    border-radius: var(--side-background-border-radius) var(--side-background-border-radius) 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Team Banner */
.team-banner {
    position: absolute;
    top: 69px;
    left: 50%;
    transform: translateX(-50%);
    width: 346px;
    height: 346px;
    border-radius: 50%;
}

/* Team Name */
.team-name {
    position: absolute;
    top: 459.16px;
    left: -140px;
    transform: rotate(-7deg);
    width: 748px;
    height: 102px;
    background-color: white;
    
    font-weight: 700;
    font-size: 48px;
    line-height: 102px;
    text-align: center;
    color: rgba(0,0,0,0.75)
}

/* Team Stars */
.team-stars {
    position: absolute;
    top: 622.66px;
    left: 38px;
    width: 391.05px;
    height: 48.88px;
    transform: rotate(-7deg);
    display: flex;
    justify-content: center;
}
.team-star {
    width: 48.88px;
    height: 48.88px;
    margin: 0 4px;
    background-color: #D9D9D9;
    border-radius: 50%;
}
.team-star:first-child { margin-left: 0; }
.team-star:last-child { margin-right: 0; }
.left-star { background-color: #FF11A0; }
.right-star { background-color: #1F6BFF}