:root {
    --map-selection-title-height: 94px;
    --coloured-side-width: 476px;
    --coloured-side-alignment: 68px;
    --team-banner-square-dimension: 346px;
    --side-background-border-radius: 50px;
    --team-name-height: 102px;
    --team-star-dimension: 48.88px;
    --player-list-alignment: 94px;
    --player-profile-picture-dimension: 134px;
    --player-profile-margin-bottom: 20px;
    --player-profile-margin-side: 10px;
    --side-bar-mappool-button-height: 50px;
    --side-bar-mappool-button-border-width: 3px;

    --colour-lime: #EEFF00;
    --colour-pink: #FF11A0;
    --colour-blue: #1F6BFF;
    --colour-sidebar-lime: #D3FA62;
}

body {
    font-family: "Reddit Mono";
    font-weight: 700;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 2560px;
    height: 1440px;
    background-image: url("static/background.png");
    overflow: hidden;
}

/* Map Selection Title */
#map-selection-title {
    position: absolute;
    top: 37px;
    left: 50%;
    transform: translateX(-50%);
    width: 568px;
    height: var(--map-selection-title-height);
    border-radius: calc(var(--map-selection-title-height) / 2);
    background-color: #36FF86;
    font-size: 64px;
    line-height: var(--map-selection-title-height);
    color: black;
    text-align: center;
}

/* Sides */
.coloured-side {
    position: absolute;
    top: 277px;
    width: var(--coloured-side-width);
    height: 1163px;
}
#left-side { left: var(--coloured-side-alignment); }
#right-side { right: var(--coloured-side-alignment); }

/* Side backgrounds */
.side-background {
    border-radius: var(--side-background-border-radius) var(--side-background-border-radius) 0 0;
    box-shadow: 7px 0 20px rgba(0, 0, 0, 0.5);
}

/* Team Banner */
.team-banner {
    position: absolute;
    top: 69px;
    left: 50%;
    transform: translateX(-50%);
    width: 346px;
    height: 346px;
    border-radius: 50%;
}

/* Team Banners */
.side-banner-container {
    position: absolute;
    top: -11px;
    right: 55px;
    display: flex;
    align-items: start;
    display: none;
}

/* Team Name */
.team-name {
    position: absolute;
    top: 459.16px;
    left: -8px;
    transform: rotate(-7deg);
    clip-path: polygon(2.5% 0%, 100% 0%, 97.5% 100%, 0% 100%);
    width: 492px;
    height: var(--team-name-height);
    background-color: white;
    
    font-size: 48px;
    line-height: var(--team-name-height);
    text-align: center;
    color: rgba(0,0,0,0.75);
}

/* Team Stars */
.team-stars {
    position: absolute;
    top: 622.66px;
    left: 38px;
    width: 391.05px;
    height: var(--team-star-dimension);
    transform: rotate(-7deg);
    display: flex;
    justify-content: center;
}
.team-star {
    width: var(--team-star-dimension);
    height: var(--team-star-dimension);
    margin: 0 4px;
    background-color: #D9D9D9;
    border-radius: 50%;
}
.team-star:first-child { margin-left: 0; }
.team-star:last-child { margin-right: 0; }
.left-star { background-color: var(--colour-pink); }
.right-star { background-color: var(--colour-blue); }

/* Player List */
.players-list {
    width: calc(var(--coloured-side-width) - (var(--player-list-alignment) * 2));
    position: absolute;
    top: 719px;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Player profiles */
/* Odd elements */
.player-profile:nth-child(odd) { margin: 0 var(--player-profile-margin-side) var(--player-profile-margin-bottom) 0; }
.player-profile:nth-child(even) { margin: 0 0 var(--player-profile-margin-bottom) var(--player-profile-margin-side); }
.player-profile-picture {
    width: var(--player-profile-picture-dimension);
    height: var(--player-profile-picture-dimension);
    border-radius: 50%;
}
/* Member Name */
.player-name {
    width: var(--player-profile-picture-dimension);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Mappool Section */
#mappool-section {
    position: absolute;
    top: 192px;
    left: 50%;
    transform: translateX(-50%);
    width: 1342px;
    max-height: 1191px;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
#mappool-section::-webkit-scrollbar { display: none; }
#mappool-main-section {
    display: flex;
    justify-content: space-between;
}
/* Map Card Background*/
.map-card {
    position: relative;
    width: 666px;
    height: 147px;
    border-radius: 59px;
    margin-bottom: 15px;
    overflow: hidden;
    box-shadow: 7px 4px 20px 0px rgba(0, 0, 0, 0.5);
}
.tb-map-card-container {
    display: none;
    position: relative;
    width: 892px;
    height: 197px;
}

/* Map details */
.map-details {
    position: absolute;
    top: 16px;
    left: 80px;
    display: flex;
    flex-direction: column;
}
.tb-map-details {
    top: 24px;
}
/* Map Card Background */
.map-card-background {
    position: absolute;
    top: 0;
    left: 59px;
    width: 608px;
    height: inherit;
    border-radius: 0 59px 59px 0;
    background-image: url("https://assets.ppy.sh/beatmaps/1037604/covers/cover@2x.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.3;
}
.tb-map-card-background {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 59px;
}
/* Map Song Name */
.song-name {
    font-size: 28px;
    line-height: 35px; 
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tb-song-name {
    font-size: 40px;
}
/* Map Song Artist */
.song-artist {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: var(--colour-lime);
}
.tb-song-artist {
    font-size: 2em;
    line-height: 2em;
}
/* Mod ID */
.mod-id {
    position: absolute;
    top: 24px;
    left: 567px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.tb-mod-id {
    position: absolute; 
    top: 24px;
    left: 771px;
    width: 86px;
    height: 86px;
    border-radius: 50%;
}
.mod-id-nm { background-color: white; }
.mod-id-hd { background-color: var(--colour-lime); }
.mod-id-hr { background-color: var(--colour-pink); }
.mod-id-fm { background-color: #36FF86; }
.mod-id-dt { background-color: var(--colour-blue); }
.mod-id-tb { background-color: #C56FFF; }
/* Mod Mask */
.mod-mask {
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
}
/* Mod Text */
.mod-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 23px;
    color: black;
    opacity: 0.75;
}
.tb-mod-text {
    font-size: 40px;
    color: white;
}
/* Mapper */
.song-mapper {
    position: absolute;
    top: 86px;
    right: 46px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.tb-song-mapper {
    top: 127px;
    right: 29px;
}
.map-detail-lime-bold { 
    font-weight: 700;
    color: var(--colour-lime);
}
/* Star Rating */
.star-rating {
    position: absolute;
    top: 109px;
    right: 46px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.tb-star-rating {
    top: 150px;
    right: 29px;
}
/* Map Card Action */
.map-card-action {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.7);
    border-radius: 59px;
}
.map-card-action > * {
    position: absolute;
    top: -84px;
    font-size: 250px;
}
.map-card-ban-text { left: 90px; }
.map-card-win-text { left: 20px; }
.map-card-colour-pink { color: var(--colour-pink); }
.map-card-colour-blue { color: var(--colour-blue); }

/* Tiebreaker map card */
#tb-map-card {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

/* Tiebreaker Scissors */
.tb-map-layer {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 59px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.tb-map-scissors {
    position: absolute;
    left: 46px;
    top: 0;
}

/* Side Bar */
.side-bar {
    position: absolute;
    top: 0;
    left: 2560px;
    width: 900px;
    height: 1440px;
    background-color: var(--colour-sidebar-lime);
}

/* Columns */
.column {
    position: absolute;
    top: 0;
    height: inherit;
    width: 300px;
}
.column1 { left: 0; }
.column2 { left: 300px; }
.column3 { left: 600px; }
/* Divider */
.divider {
    position: absolute;
    top: 0;
    left: 299px;
    width: 2px;
    height: inherit;
    background-color: black;
}
.divider-2 { left: 599px; }
/* Side Bar Title */
.mappool-management-title { margin-top: 10px; }
.side-bar-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}
/* Side Bar Button */
.side-bar-button {
    font-family: "Reddit Mono";
    font-weight: 700;
    font-size: 32px;
    height: var(--side-bar-mappool-button-height);
    line-height: calc(var(--side-bar-mappool-button-height) - var(--side-bar-mappool-button-border-width) * 2);
    border: var(--side-bar-mappool-button-border-width) solid black;
    background-color: transparent;
    border-radius: 20px;
}
.side-bar-next-action-button {
    width: 130px;
    margin: 8px 5px;
    height: calc(var(--side-bar-mappool-button-height) * 2)
}
#toggle-pick {
    width: 280px;    
}
#sidebar-next-action {
    font-size: 2em;
    text-align: center;
}

.side-bar-button:active {
    color: var(--colour-sidebar-lime);
    background-color: black;
}
.side-bar-mappool-controls {
    width: 270px;
    margin: 20px 15px 0 15px;
    font-size: 1.4rem;
}

/* Full Size Button */
.side-bar-full-length-button {
    width: 200px;
    margin-left: 50px;
}

/* First Pick Ban Selection */
#first-pick-ban-selection {
    width: inherit;
    margin-top: 20px;
    border-bottom: 3px solid black;
    padding-bottom: 30px;
}
.side-bar-first-pick-ban-selection-section {
    margin: 0 0 24px 24px;
    font-size: 24px;
}
.side-bar-first-pick-ban-selection-section input[type="radio"] {
    height: 20px;
    width: 20px;
    margin-right: 3px;
}

/* Sidebar Mappool */
#side-bar-mappool {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.side-bar-mappool-button {
    width: 130px;
    margin: 8px 5px;
}

/* Mappool Management Select */
.mappool-management-select {
    margin-left: 25px;
    width: 250px;
    text-align: center;
    font-family: "Reddit Mono";
    font-weight: 700;
    font-size: 24px;
    border: none;
    background-color: transparent;
    margin-bottom: 20px;
}
.mappool-management-select::-webkit-scrollbar { display: none; }

/* Sidebar Mappool Section */
#sidebar-mappool-section {
    width: inherit;
    margin-top: 20px;
    border-bottom: 3px solid black;
    padding-bottom: 30px;
}

/* Which Tile Section */
.side-bar-tile-container {
    margin: 0 0 20px 25px;
    width: 260px;
    text-align: center; 
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.tile-action-button {
    width: 125px;
    height: 35px;
    font-family: "Reddit Mono";
    font-weight: 600;
    font-size: 22px;
    border: none;
    background-color: transparent;
}
.tile-mod-id-button {
    width: 80px;
    height: 35px;
    font-family: "Reddit Mono";
    font-weight: 600;
    font-size: 22px;
    border: none;
    background-color: transparent;
}