:root {
    --map-selection-title-height: 94px;
    --colour-side-alignment: 54px;
    --team-banner-square-dimension: 346px;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 2560px;
    height: 1440px;
    background-image: url("static/background.png");
    font-family: "Reddit Mono"
}

/* Map Selection Title */
#map-selection-title {
    position: absolute;
    top: 37px;
    left: 50%;
    transform: translateX(-50%);
    width: 568px;
    height: var(--map-selection-title-height);
    border-radius: calc(var(--map-selection-title-height) / 2);
    background-color: #36FF86;
    font-weight: 700;
    font-size: 64px;
    line-height: var(--map-selection-title-height);
    color: black;
    text-align: center;
}

/* Sides */
.coloured-side {
    position: absolute;
    top: 261px;
    width: 476px;
}
#left-side { left: var(--colour-side-alignment); }
#right-side { right: calc(var(--colour-side-alignment) + 25px); }

/* Team Banner */
.team-banner {
    position: absolute;
    top: 85px;
    left: 53%;
    width: var(--team-banner-square-dimension);
    height: var(--team-banner-square-dimension);
    transform: translateX(-50%);
    background-image: url("https://a.ppy.sh/8306102");
    background-size: cover;
    background-position: center;
    border-radius: calc(var(--team-banner-square-dimension) / 2);
}