:root {
    --textLeft: 2226px;
    --teamIconSize: 989px;
}

/* Background Video */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 3840px;
    height: 2160px;
    z-index: -1;
}

body { margin: 0; }
.main {
    margin: 0;
    width: 3840px;
    height: 2160px;
    background-image: url("static/background.png");
    font-family: "Reddit Mono";
    font-weight: 800;
    color: white;
}

/* Team Icon */
.team-icon {
    position: absolute;
    left: 572px;
    top: 587px;
    width: var(--teamIconSize);
    height: var(--teamIconSize);
    border-radius: calc(var(--teamIconSize) / 2);
    background-image: url("https://wallpapers.com/images/hd/athah-anime-blue-506pjoe01k6jicbe.jpg");
    background-size: cover;
    background-position: center;
}

/* Logo */
.logo {
    position: absolute;
    top: 417px;
    left: calc(var(--textLeft) + 6px);
    width: 310px;
}

/* Winner Text */
.winner-underline {
    position: absolute;
    top: 833px;
    left: calc(var(--textLeft) - 31px);
    width: 862px;
    height: 73px;
    border-radius: 37px;
    background-color: var(--red);
}
.winner-text {
    position: absolute; 
    top: 632px;
    left: var(--textLeft);
    font-size: 236px;
}

/* Team Colour */
.team-colour {
    position: absolute;
    top: 1060px;
    left: var(--textLeft);
    background-color: var(--blue);
    font-size: 66px;
    font-weight: 700;
    text-align: center;
    text-wrap: nowrap;
    padding: 0 35px;
}

/* Team Name */
.team-name {
    position: absolute;
    top: 1171px;
    left: var(--textLeft);
    height: 141px;
    line-height: 141px;
    background-color: white;
    color: #282828;
    font-size: 120px;
    font-weight: 700;
    text-align: center;
    text-wrap: nowrap;
    padding: 0 37px;
}

/* Player Names */
.player-names {
    position: absolute;
    top: 1400px;
    left: calc(var(--textLeft) + 27px);
    display: flex;
    flex-wrap: wrap;
    width: 1036px;
}
.player-name {
    font-size: 58px;
    font-weight: 600;
    min-width: 508px;
    margin-top: -5px;
    margin-right: 10px;
}